* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCCCCC;
    margin: auto;
    max-width: 1200px;
}

article {
    background-color: #eee;
	display: flex;
    flex-direction: column;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

h1 {
    font-size: 30px;
    color: rgb(44, 2, 84);
}

h2 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 5px;  
}

h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;     
}

h4 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px; 
}

p {
    margin-top: 5px;
	color: rgb(85, 84, 84);	
}

.logo__hh {
	transform: rotate(-45deg);
	position: absolute;
	padding: 0px 103px;
	top: 3px;
	left: -100px;
	text-align: center;
}

footer {
    font-size: 18px;
    color: rgb(44, 2, 84);
	background-color: #fff;
    box-shadow: 2px 2px 20px #888;
	transform: rotate(-45deg);
	position: absolute;
	padding: 0px 110px;
	top: 80px;
	left: -100px;
	text-align: center;
    font-weight: bold;
}

ul {
    margin-left: 15px;
    padding-left: 0;
}

@media(max-width: 1200px) {
    body {
        background-color: #CCCCCC;
        margin: auto;       
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .section {
        display: block;
        max-width: 900px;
    }
    footer {
        font-size: 18px;
        color: rgb(44, 2, 84);
        background-color: #fff;
        box-shadow: 2px 2px 20px #888;
        transform: rotate(-45deg);
        position: absolute;
        padding: 0px 110px;
        top: 80px;
        left: -100px;
        text-align: center;
        font-weight: bold;
    }
    .logo__hh {
        transform: rotate(-45deg);
        position: absolute;
        padding: 0px 103px;
        top: 3px;
        left: -100px;
        text-align: center;
    }
}

@media (max-width: 980px) {
    .section h1 {
        font-size: 20px;
    }
    .section h2 {
        font-size: 18px;
    }
    .section h3 p {
        font-size: 16px;
    }
    footer {
        display: none;
    }
    .logo__hh {
        display: none;
    }
    .logo-mobile {
        display: flex;
        flex-wrap: wrap;
        width: 15%;
        transform: rotate(45deg);
        padding: 0px 850px;
        top: 40px;
    }
}

@media (max-width: 375px) {
    .section h1 {
        font-size: 18px;
    }
    .section h2 {
        font-size: 18px;
    }
    .section h3 p {
        font-size: 16px;
    }
    footer {
        display: none;
    }
    .logo__hh {
        display: none;
    }
    .logo-mobile {
        display: flex;
        flex-wrap: wrap;
        width: 10%;
        transform: rotate(0deg);
        padding: 0px 410px;
        top: 16px;
    }
}