@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.aside {
  height: 400px;
}

.container__toDo {
  background: red;
  width: 50%;
  padding: 10px 30px;
  border-radius: 50px;
  margin: 10px auto;
}

.display-4 {
  text-align: center;
  color: white;
  font-family: "Caveat", cursive;
  font-size: 60px;
  font-weight: bold;
}

.h4 {
  color: white;
  font-size: 40px;
}
 
.d-flex {
  display: flex;
  font-size: 20px;
}

.task-title {
  font-weight: 400;
  padding-top: 5px;
}

.gray {
  color: #BDBDBD;
}

.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}

.task-item__buttons {
  display: flex;
  column-gap: 5px;
}

.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}

.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.empty-list__title {
  font-size: 45px;
  margin-bottom: 15px;
  font-weight: 300;
}

.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}

.card-header {
  font-weight: bold;
}

.bg-light {
  font-size: 30px;
}

.form-control {
  font-size: 20px;
}

.form-text {
  font-size: 25px;
}

.btn {
  font-size: 30px;
}

.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}
